.index_main{padding:0 0.4rem 1.5rem;}
.index-top{display:none;height: 0.88rem;margin-bottom: 0.3rem;position: relative;}
.switch_top{display: inline-block;padding: 0.18rem 0.5rem;}
#myname{font-size: 0.34rem;color:#000000;}
.switch_top .iconfont{display:none;font-size: 0.34rem;color: #AAAAAA;    padding-left: 0.1rem;}

#switchBg{display: none;}
.switch_users{display: none;
    background: #fff;
    position: absolute;top: 0.8rem;
    left:50%;
    z-index:1020;box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.2);    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);border-radius: 10px;}
.switch_item{    font-size: 0.3rem;
    color: #000;
    line-height: 0.5rem;
    /* border-bottom: 1px solid #ccc; */
    padding-left: 0.5rem;
    padding-right: 0.8rem;
    text-align: left;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;}

/* 最新主板 */
.motherboard{width: 100%;
height:8rem;
background: linear-gradient(143deg, #60DB52 0%, #2CBD73 100%);
box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);}
.motherboard_head{}
.motherboard_user{float: left;
    padding: 0.3rem 0.2rem 0.3rem 0.3rem;}
.motherboard_user i{font-size: 0.5rem;
    color: #F8F8F8;}
.motherboard_link{float: right;    padding: 0.3rem 0.2rem 0.3rem 0.3rem;}
.motherboard_link i{font-size: 0.5rem;
    color: #F8F8F8;}
.motherboard_body{    margin-top: 0.3rem;}
.motherboard_top{height: 4.5rem;}
.motherboard_left{    width: 16%;
    float: left;
    height: 100%;    display: flex;
    align-items: center;
    justify-content: center;}
.motherboard_right{    width: 16%;
    float: right;
    height: 100%;    display: flex;
    align-items: center;
    justify-content: center;}
.motherboard_left i,.motherboard_right i{    color: #308F56;
    font-size: 0.34rem;}
.motherboard_main{height:102%;width: 64%;
    margin: 0 auto;position:relative;    overflow: hidden;}
.motherboard_main1{    display: block;height:4.5rem;
    position: absolute;
    left: 0;
    top: 0;}
.motherboard_list{    display: flex;
    align-items: center;
    justify-content: center;}
.motherboard_item{/* display:none; */float:left;    height: 4.8rem;width:4.8rem;position: relative;}
.motherboard_item:first-child{display:block;}
.motherboard_first{height: 100%;}
.motherboard_circle{/* display:none; */width: 91%;
    height: 91%;
    -webkit-mask: radial-gradient(transparent 1.96rem, #000 1.96rem);
	-moz-mask: radial-gradient(transparent 1.96rem, #000 1.96rem);
	mask: radial-gradient(transparent 1.96rem, #000 1.96rem);
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);}
.circle-bottom-left{    width: 50%;
    height: 100%;
    background:#24FF00;
    position: absolute;
    left: 0;
    z-index: 1;}
.circle-bottom-right{    width: 50%;
    height: 100%;
    background:#24FF00;
    position: absolute;
    right: 0;
    z-index: -1;}
.circle_left{/* display:none; */width: 50%;
		  height: 100%;
		  background: #A9FFCC;
		  transition: transform 1s linear;
		  transform-origin: 100% 50%;
		  position: absolute;
		  left: 0;
		  z-index: 2;}
.circle_right{width: 50%;
		  height: 100%;
		  background: #A9FFCC;
		  transition: transform 1s linear;-webkit-transition: transform 1s linear;-moz-transition: transform 1s linear;
		  transform-origin: 0% 50%;-webkit-transform-origin: 0% 50%;-moz-transform-origin: 0% 50%;
		  position: absolute;
		  right: 0;
		  z-index: 0;}
/* .circle_right1{transform: rotate(-90deg);transition: transform 0.4s linear 1s;} */
.circle_list i{    width: 1px;
    height: 5rem;
    display: inline-block;
    background:#4DD05F;
    position: absolute;
    z-index: 10;}
.circle_list i:nth-child(1){
	transform:rotate(30deg)
}
.circle_list i:nth-child(2){
	transform:rotate(60deg)
}
.circle_list i:nth-child(3){
	transform:rotate(90deg)
}
.circle_list i:nth-child(4){
	transform:rotate(120deg)
}
.circle_list i:nth-child(5){
	transform:rotate(150deg)
}
.circle_list i:nth-child(6){
	transform:rotate(180deg)
}
.circle_box{    width: 91%;
    height: 91%;
    position: absolute;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;    z-index: 1;
    margin-left: -45.5%;
    margin-top: -45.5%;transition: transform 1s linear;}
.circle_box i{    display: inline-block;
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    bottom: -0.03rem;
    left: 50%;
    margin-left: -0.2rem;box-shadow: 0 0 14px 4px #FFF;}

.motherboard_first_bottom{    position: absolute;
    bottom: 0.1rem;
    left: 50%;
    width: 2rem;
    height:1.2rem;
    padding:0.65rem 0.15rem 0;
    z-index: 2;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: space-between;}
.motherboard_first_bottom::before{
	content: '';
	                 position: absolute;
	                 top: 0;
	                 left: 0;
	                 right: 0;
	                 bottom: 0;
	                 background: #3FC867;
					z-index: -1;
					transform-origin:bottom;
	　　　　　　　　　-webkit-transform-origin:bottom;
					transform: perspective(0.5em) scale(1.1,1.3) rotateX(3deg);-webkit-transform: perspective(0.5em) scale(1.1,1.3) rotateX(3deg);
	　　　　　　　　　  
}
.first_left_num{color:#308F56;}
.first_right_num{color:#308F56;}

.motherboard_second{    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);-o-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}
.motherboard_name,.motherboard_font,.motherboard_item_name{
    font-size: 0.3rem;
    color: #A9FFCC;
}
.prohibit_lik i,.prohibit_lik span{    color: #B3B3B3;}
.motherboard_weight{
	color: #FFF;    margin-top: 0.2rem;
    margin-bottom: 0.45rem;
}
.motherboard_weight .shi_num{
	font-size: 0.7rem;
}
.motherboard_weight .shi_unit{
	font-size: 0.4rem;
}
.motherboard_bottom{    display: flex;
    justify-content: space-around;    margin-top: 0.6rem;}
.motherboard_num .shi_num{
color: #FFFFFF;font-size: 0.4rem;}
.motherboard_num .shi_unit{
color: #FFFFFF;font-size: 0.26rem;}
.motherboard_txt{    display: block;font-size: 0.3rem;
    color: #A9FFCC;}
















/* 最新主板 end*/
	
.food_top{    height: 0;
    visibility: hidden;    overflow: hidden;text-align: left;}
.food_type{display: inline-block;/* display: none; */}
.food_add_type{    color: #16B446;
    font-size: 0.3rem;vertical-align: sub;}
.food_item{display: inline-block;height: 0.52rem;line-height: 0.26rem;
    font-size: 0.26rem;
    color: #333333;padding-right: 0.6rem;vertical-align: top;}
.food_active:after{content:'';display: inline-block;width:100%;height:0.05rem;
background:#15B346;
border-radius:0.25rem;}

.food_amount{}
.amount_item{display:none;}
.amount_item1{display: block;}
.amount_mian{height: 0;
    visibility: hidden;    overflow: hidden;border-radius: 10px;/* padding-bottom: 0.2rem; */    background: linear-gradient(-2deg, #2090E9 0%, #04CDFF 100%);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);}
.amount_mian>div{width:55%;padding-top: 0.4rem;}
.index_con1{float: left;}
.amount_item .index_con2{float: right;width: 45%;height:100%;padding-top:0.4rem;}
.amount_item .index_con3{float: left;width: 100%;}
.index_exceed .index_con2{/* background: #FFD74D; */}
.index_capita{    color:#f5f3f2;
    font-size: 0.24rem;    margin-top: 0.1rem;}

.ingest_txt{color:#fff;font-size: 0.3rem;}
.ingest_today1{    text-align: left;
    padding-left: 0.55rem;}
.ingest_today1 .shi_num{    font-size: 0.36rem;font-weight: 700;}
.index_con_add{    height: 100%;padding-top: 0.7rem;}
.ingest_img{height:3rem;padding-left: 0.5rem;position: relative;    margin-top: 0.3rem;}
.ingest_img>img{float: left;    height: 100%;}
.ingest_bgmain{float: left;
    width: 0.98rem;
    height: 100%;
    background: #FFF;margin-left: 0.1rem;border-radius: 0 0 0.5rem 0.5rem;position: relative;    overflow: hidden;
    }
.ingest_bg{display:none;
	    height: 100%;width:100%;border-radius: 0 0 0.5rem 0.5rem;
	background: -webkit-linear-gradient(0deg,rgba(2,140,255,1),rgba(0,200,185,1),rgba(102,219,47,1),rgba(255,230,63,1));
	background: -moz-linear-gradient(0deg,rgba(2,140,255,1),rgba(0,200,185,1),rgba(102,219,47,1),rgba(255,230,63,1));
	background: -ms-linear-gradient(0deg,rgba(2,140,255,1),rgba(0,200,185,1),rgba(102,219,47,1),rgba(255,230,63,1));
	background: -o-linear-gradient(0deg,rgba(2,140,255,1),rgba(0,200,185,1),rgba(102,219,47,1),rgba(255,230,63,1));
	background: linear-gradient(0deg,rgba(2,140,255,1),rgba(0,200,185,1),rgba(102,219,47,1),rgba(255,230,63,1));
	}
.ingest_bg_new{    display: none;height:100%;width:100%;position: absolute;top: 0;left: 0;
background:#fff;transition: height 1s;-webkit-transition: height 1s;-moz-transition: height 1s;-o-transition: height 1s;-ms-transition: height 1s;}
.ingest_num{width:1.65rem;position: absolute;
    bottom: 0;
    left:2rem;text-align: left;word-wrap: break-word;word-break: break-word;/* transition: bottom 1s;-webkit-transition: bottom 1s;-moz-transition: bottom 1s;-o-transition: bottom 1s;-ms-transition: bottom 1s; */}
.ingest_num .shi_unit{font-size: 0.24rem;color:#FFF;}
.ingest_num .shi_num{    font-size: 0.4rem;
    font-weight: 700;color: #FFF;}
.ingest_remain{margin-top:0.6rem;}
.remain_weight{    font-size: 0.35rem;
color:#868B91;}
.remain_weight .shi_num{font-size: 0.74rem;font-weight: 700;}
.remain_weight .shi_unit,.weighing_num .shi_unit{font-size: 0.24rem;color:#fff;}
.weighing_font{font-size: 0.3rem;}
.weighing_lave{    font-size: 0.74rem;    color: #343434;
    font-weight: 700;    position: relative;
    margin-top: 0.7rem;text-align: center;}
.weighing_lave>img{    display: inline-block;
    height: 2.25rem;}
.weighing_num{    position: absolute;
    left: 50%;
    top:1.5rem;-webkit-transform: translate(-50%, 0);-moz-transform: translate(-50%, 0);-ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);}
.weighing_num .shi_num{
	font-size: 0.4rem;
	font-weight: 700;color: #FFF;
}
.index_font,.index_line{color:#f5f3f2;
    font-size: 0.28rem;}
.index_line{font-size:0.3rem;margin:0 0.05rem;}
.index_txt{}
.index_num{    font-size: 0.28rem;}

.amount_chart{}
.amount_chart_head{    width: 2rem;
    height: 0.6rem;
    line-height: 0.6rem;
    margin: 0.3rem auto;
    border: 1px solid #15B346;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;}
.amount_chart_head>a {width: 50%;
    display: inline-block;    font-size: 0.28rem;
    color:#15B346;}
.amount_chart_head .amount_chart_active{color:#FFF;background: #15B346;}
.amount_chart_body{    background: #FFFFFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 0.2rem 0;position: relative;}
.number_chart_top{    justify-content: space-between;
    flex-direction: row;
    display: flex;
    padding: 0 0.2rem;}
.numberr_chart_item{    font-size: 0.24rem;display: inline-block;
    color: #868B91;
    margin-right: 0.6rem;}
.numberr_chart_icon1{display: inline-block;
    width: 0.3rem;
    height: 0.16rem;
    background: #39A0FF;
    border-radius: 0.08rem;
    margin-right: 0.2rem;}
.numberr_chart_unit{    font-size: 0.24rem;color: #868B91;}
.chart_fat2{display: none;}
.remaining_chart{height: 4.2rem;width: 100%;margin: 0.2rem 0px;padding: 0px;}
.remaining_chart>div{width:100%!important;}
/* .remaining_txt,.remaining_txt>span{font-size: 0.26rem;
    text-align: left;
    color: #333;    padding-left:0.2rem;}
.remaining_txt>span{padding-left:0;}
.remaining_target{    justify-content: space-between;
    flex-direction: row;
    display: flex;margin-top:0.2rem;}
.remaining_target span{    flex: 3;line-height: 0.4rem;}
.remaining_target_font{flex: 1;    font-size: 0.26rem;
    color: #333;}
.remaining_target_font i{    font-size: 0.3rem;
    color: #00942A;}
.remaining_target .shi_num,.remaining_target .shi_unit,.remaining_percentage{font-size: 0.26rem;
    color: #333;}
 */
.amount_chart_footer{display: flex;
    align-items: center;
    justify-content: space-between;background: #FFFFFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: .2rem;
    margin-top: 0.2rem;
    }
.amount_chart_text,.weighing_average_num i,.weighing_all_num i{color:#868B91;font-size: 0.3rem;}
.meals_number_tip1{color:#B3B3B3;font-size: 0.24rem;line-height:0.34rem;margin-top:0.2rem;}

.increase_icon{margin-top:0.6rem;}
.increase_icon i{color:#16B446;font-size: 0.45rem;}
.amount_item2{}
.index_con_box{display: none;padding: 0 0.1rem;}
.index_con_box img{    width: 0.7rem;}
.detect_list{}
.detect_item{margin: 0.15rem 0 0.1rem;
    line-height: 0.34rem;}
.detect_num3{margin-bottom: -0.1rem;}
.detect_name{font-size: 0.24rem;
    text-align: left;
    float: left;}
.detect_num{    max-width:1.9rem;float: right;
    font-size: 0.24rem;
    text-align: right;    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;}
.detect_num2 .shi_num,.detect_num2 .shi_unit{}
.detect_status{color:#15B346;}

/* 公共底部 */
.foot{    height: 1.1rem;position: fixed;bottom:0;left:0;text-align: center;width:100%;font-size:0.26rem;text-align: center;    line-height: 1.4;    background: #fff;    box-shadow: 0px -4px 7px 0px rgba(202,241,226,0.3);}
.foot i{display: block;font-size:0.5rem;color:#9bd1aa;}
.foot a{    display: block;color:#8D8D93;font-size: 0.24rem;    padding-bottom: 0.05rem;}
.foot_active i,.foot_active a{color:#15B345;}


/* 这几个类名为弹出通用样式 */
.device_box{display: none;font-size:14px;position:fixed;left:0;top:0;width:100%;height:100%;z-index:1011;}
.device_bg{position:fixed;left:0;top:0;width:100%;height:120%;z-index:1012;background: rgba(0,0,0,0.3);}
.device_pop{position:absolute;left:50%;bottom:0.4rem;margin:auto;width:90%;padding:0.3rem 0.4rem;background:#fff;border-radius:0.4rem;z-index:1013;box-shadow:0px 2px 18px 0px rgba(0,0,0,0.2);-webkit-transform: translate(-50%,0);-moz-transform: translate(-50%,0);-ms-transform: translate(-50%,0);-o-transform: translate(-50%,0);transform: translate(-50%,0);}
.device_close{color:#868C92;font-size:0.45rem;position:absolute;top:0.2rem;right:0.2rem;}
/* 这几个类名为弹出通用样式 */

/* 添加设备弹窗 */
.add_dev_main{}
.add_dev_one{}
.add_dev_input{padding: 0.1rem 0 0.5rem;}
.dev_input_item{    }
.input_txt{color:#868C92;font-size: 0.28rem;line-height: 0.6rem;}
.add_type1{display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0.1rem;
    margin-bottom: 0.2rem;}
.add_type1 li{
    height: 0.6rem;
    font-size: 0.26rem;color:#00942A;
    line-height: 0.6rem;
    background: #fff;    padding: 0 0.25rem;
    border: 1px solid #16B446;
    border-radius: 0.3rem;
    text-align: center;
    margin-right: 0.3rem;
    margin-bottom: 0.2rem;}
.add_type1 .type1_active,.add_type2 .type2_active{color:#fff;background: #46B64A;
    box-shadow: 1px 4px 20px 0px rgba(22,180,70,0.4);}

.dev_input_item2{display: flex;}
.dev_input_item2 .input_txt{flex-grow: 0;}
.add_type2{    display: flex;margin-left: 0.35rem;}
.add_type2 li{    height: 0.6rem;
    font-size: 0.26rem;
    color: #00942A;
    line-height: 0.6rem;
    background: #fff;
    padding: 0 0.25rem;
    border: 1px solid #16B446;
    border-radius: 0.3rem;
    text-align: center;
    margin-right: 0.3rem;}
.add_type1 .type2_active{}
.dev_input_item3{    display: flex;    height: 0.6rem;margin-top: 0.4rem;}
.meals_number_icon i{font-size: 0.3rem;    color:#d1d1d1;
        margin-left: 0.05rem;
        margin-right: 0.45rem;
    vertical-align: middle;}
.meals_number_contanier{display: none;
    font-size: 14px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1021;}
.meals_number_bg{position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 120%;
    z-index: 1022;
    background:rgba(0,0,0,0.3);}
.meals_number_close{color: #868C92;
    font-size: 0.45rem;
    position: absolute;    top: 0.1rem;
    right: 0.1rem;
    padding: 0.1rem;}
.meals_number_main{    position: absolute;
    left: 50%;
    top:50%;
    margin: auto;
    width: 90%;
    max-height: 82%;
    padding: 0.3rem 0.4rem;
    background: #fff;
    border-radius: 0.4rem;
    z-index: 1023;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.2);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);}
.meals_number_tip{color: #868C92;
    font-size: 0.28rem;
    line-height: 0.4rem;margin-top: 0.5rem;}
.meals_number{height: 0.6rem;
    line-height: 0.6rem;}
.meals_number_input{    display: inline-block;width: 1rem;height: 0.58rem;
    font-size: 0.26rem;
    color: #00942A;
    background: #fff;
    padding: 0 0.25rem;    margin: 0 0.2rem;
    border: 1px solid #16B446;
    border-radius: 0.3rem;
    text-align: center;
    }

.increase_decrease{display: inline-block;
    line-height: 0.6rem;
    margin-left: 0.3rem;}
.recommend_decrease,.meals_decrease{    display: inline-block;    font-size: 0.24rem;
    width: 0.6rem;
    height: 0.6rem;    text-align: center;
    background: #F8F7FC;
    border-radius: 0.1rem;}
.recommend_decrease:before,.meals_decrease:before{content:'';display: inline-block;width:0.22rem;height:0.04rem;background:#000000;vertical-align: middle;}
.increase_decrease .recommend_bun{display: inline-block;
    width: 1.4rem;
    height: 0.6rem;
    line-height: 0.6rem;    font-size: 0.3rem;
    padding: 0;
    text-align: center;
    border: none;
    margin-bottom: 0;}
.recommend_increase,.meals_increase{display: inline-block;    font-size: 0.24rem;
    width: 0.6rem;
    height: 0.6rem;text-align: center;
    background: #F8F7FC;
    border-radius: 0.1rem;margin-right: 0.1rem;}
.recommend_font{color:#000000;font-size: 0.3rem;font-weight: 400;vertical-align: middle;}


.add_dev_two{display: none;}
.add_list{padding: 0.1rem 0 0.4rem;}

.add_item{line-height: 0.8rem;}
.add_name{color:#858B91;font-size: 0.28rem;}
.add_txt{float: right;color:#333333;font-size: 0.28rem;}

.customize_project{display: none;
    font-size: 14px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1021;}
.customize_project .device_operating_title{border-bottom:0;}
.customize_bg{position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 120%;
    z-index: 1022;
    background: rgba(0,0,0,0.3);}
.customize_pop{position: absolute;
    left: 50%;
        top: 50%;
    margin: auto;
    width: 90%;
    padding: 0.3rem 0.4rem;
    background: #fff;
    border-radius: 0.4rem;
    z-index: 1023;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.2);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);}
.customize_close{color: #868C92;
    font-size: 0.45rem;
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;}
.customize_main{position: relative;text-align: center;}
.customize_main i{position: absolute;
    top: 0.2rem;
    right: 0.3rem;
    color: #C7CAD7;
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    text-align: center;    padding: 0.1rem;    box-sizing: content-box;-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;}
.customize_name{    background-color: #F1F2F6;
    line-height: 1rem;
    border-radius: 0.1rem;
    width: 100%;
    height: 1rem;
    margin-bottom: 0.3rem;
    padding: 10px 15px;}
.customize_confirm{display: inline-block;color: #fff;
    font-size: 0.3rem;
    height: 0.8rem;
    line-height: 0.8rem;
    padding: 0 0.25rem;
    background: #16B347;
    border-radius: 0.4rem;
    }
.customize_embar{background: #babdbb;}
.equipments_item  .left,.equipments_item .right{margin:0 0.2rem;}



/* 添加设备弹窗 end */

/* 还无设备弹窗*/
.device_operating_title{color:#343434;font-size: 0.4rem;
    font-weight: 700;padding-bottom: 0.25rem;
    border-bottom: 1px solid #E3F2E8;}
.device_main{    min-height: 2rem;padding-top:0.3rem;}
.device_tip{color:#868C92;font-size: 0.26rem;}
.device_bottom{line-height: 0.8rem;}
.device_previous{color:#B8BCC1;font-size: 0.3rem;}
.device_next{float: right;
    color: #fff;
    font-size: 0.3rem;
    height: 0.8rem;padding:0 0.25rem;
    background: #16B347;
    border-radius: 0.4rem;}
/* 还无设备弹窗end */

/* 添加新设备列表弹窗 */
.equipments_center{margin-bottom: 0.5rem;}
.equipments_list{}
.equipments_item{line-height: 0.5rem;margin: 0.3rem 0;}
.equipments_name{font-size: 0.28rem;
    color: #343434;
    font-weight: 700;}
.equipments_function{color: #B4B4B4;
    font-size: 0.24rem;
	}
.equipments_check{    float: right;
    width: 0.5rem;
    height: 0.5rem;
        line-height: 0.5rem;
        text-align: center;
    border: 1px solid #16B446;
    border-radius: 50%;
    position: relative;    vertical-align: middle;}
.equipments_check i{    display: none;
    font-size: 0.24rem;
    color: #FFF;}
.equipments_active{background: #16B446;}
.equipments_active i{    display: block;}
.equipments_new_btn{color:#16B446;font-size: 0.28rem;}
/* 添加新设备列表弹窗 end */

/* 确认设备弹窗 */
.confirm_device{
	display: none;
	height: 100%;
	width: 100%;
	background: #fff;
	position: fixed;
	z-index: 1011;
	top: 0;
	left: 0;padding: 0.5rem 4% 0;
}
.back i{    font-size: 0.5rem;
    font-weight: 700;padding: 0.5rem 0.5rem 0.5rem 0.1rem;}
.confirm_img{width:4.6rem;min-height:2.5rem;}
.confirm_name{color:#333333;font-size:0.3rem;margin-top:0.3rem;}
.confirm_bottom{    margin-top: 2rem;}
.confirm_bottom a{display: inline-block;
    font-size: 0.28rem;
    width: 80%;
    height: 0.8rem;
    line-height: .8rem;
    border-radius: 0.4rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;}
.confirm_add_btn{    color: #fff;background: #16B347;}
.confirm_back_btn{border:1px solid #16B347;color:#16B347;}
/* 确认设备弹窗 end */

/* 系统提示弹窗 */
.hint_main_top{}
.hint_main_top .device_operating_title{display: inline-block;    padding-bottom: 0.1rem;margin-right: 0.25rem;border-bottom:none;}
.hint_main_top span{color:#343434;font-size: 0.24rem;}
.hint_main_top p{color:#868C92;font-size: 0.24rem;}

.hint_meals_number>span{color:#868C92;font-size: 0.26rem;}
.meals_list{display: flex;flex-direction: row;
    flex-wrap: wrap;    margin-top: 0.3rem;
    margin-bottom: 0.45rem;}
.meals_item{    width: 0.8rem;
    height: 0.6rem;
    font-size: 0.26rem;    color: #00942A;
    line-height: 0.6rem;
    background: #fff;
    border: 1px solid #16B446;
    border-radius: 0.3rem;
    text-align: center;
    margin-right: 0.3rem;
    margin-bottom: 0.2rem;}
.meals_active{color: #fff;background:#46B64A;box-shadow:1px 4px 20px 0px rgba(22,180,70,0.4);}

.waste_ratio{display: flex;
    align-items: center;
    justify-content: space-between;    padding-bottom: 0.4rem;}
.waste_ratio>span{color:#868C92;font-size:0.26rem;    width: 1.7rem;vertical-align: middle;}
.waste_chart{background: rgba(202, 242, 214, 1);
    height:0.06rem;
    border-radius:0.03rem;
    width:4.5rem;
    display: inline-block;
    vertical-align: middle;position: relative;}
/* .progress_tip{color:#868C92;font-size: 0.26rem;    position: absolute;
	    top: 0.29rem;left:0;} */
.hint_main_bottom{display: block;
    color: #fff;
    font-size: 0.3rem;
    width: 80%;
    height: 0.8rem;
    line-height: .8rem;
    background: #16B347;
    border-radius: 0.45rem;margin:0.4rem auto 0;text-align: center;}
/* 系统提示弹窗 end */

/* 动态滑块浪费比率 */
.slider-container {
    /* width: 100%!important; */
    font-family: helvetica neue,Helvetica,Arial,sans-serif;
}
.theme-green .back-bar {
    height: 100%;
}

.slider-container .back-bar .selected-bar {
  position: absolute;
  height: 100%;
}
.slider-container .back-bar .pointer {
    width:0.38rem;height:0.38rem;position:absolute;top:-0.16rem;left:0;z-index:2;border-radius:50%;border:1px solid #CAF2D6;
        background: #fff;box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    cursor: col-resize;
	touch-action: none; /* 不加此样式控制台报错 */
}
.slider-container .back-bar .pointer-label {
	color: #999;
    position: absolute;
    top: 18px;
	left:0;
    font-size:0.26rem;
    background: #fff;
    white-space: nowrap;
    line-height: 1;
}
.slider-container .clickable-dummy {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.theme-green .back-bar .selected-bar {
	height:0.06rem;
	    background-color: #46B64A;
	    border-radius:0.03rem;position: relative;
}

.slider-container .back-bar .pointer.last-active {
    z-index: 3;
}
.scale{display: none!important;}
/* 动态滑块浪费比率 end */
.log_embar_btn,.log_embar_btn:focus, .log_embar_btn:hover{background: #babdbb;}

/* 链接方式弹窗开始*/
.lanya{margin-top:0.6rem;}
.wife{background-color:#fff;border:1px solid #16B347;color:#16B347;margin:0.6rem auto 0.4rem auto;}
.link_line{width:100%;height:1px;background-color:#e2f2e7;margin-top:0.3rem;}
.link_center input {background-color: #f1f2f6;line-height: 1rem;border-radius: 4px; height: 1rem;margin-bottom: 0.3rem;width:100%;}
.link_center .i2 {position: absolute;top: 0.6rem; right: 0.3rem;color: #fff; width: 0.4rem; height: 0.4rem;background-color: #c7cad7;border-radius: 50%;text-align: center;line-height: 0.4rem;}
.link_center .cancel{color: #b7bbc0;position: relative;top: 0.14rem;border: 0 none;font-size: 0.29rem;}
.link_center .sure {background-color: #15b346;border-color: #15b346;width: 1.6rem;height: 0.8rem;text-align: center;line-height: 0.8rem;color: #fff; padding: 0;border-radius: 0.4rem;font-size: 0.29rem;}
.pull-left{float:left;}
.pull-right{float:right;}
.link_center .password_val{margin:0.3rem 0 0.5rem 0;}
.link_center .s{color:#858b91;display: block;}
.link_center .p1{margin:0.4rem 0;}
.link_center .s1{margin-top:0.3rem;}
.mb20{margin-bottom:0.2rem;}
.password_val{padding-left:5px;}
.green{color:#15b345;}
.text-center{text-align: center;}
#device_tips p{font-size:0.3rem;}
.mt130{margin-top:1.3rem;}
.tips_p2{margin:0.35rem auto 1.6rem auto;}
/* 链接方式弹窗结束 */
.position_relative{position: relative;}
@media (min-width: 360px) and (max-width:480px){}
@media screen and (min-width: 768px){}
@media (min-width: 768px) and (max-width: 991px){}
@media screen and (min-width: 992px){}
@media (min-width: 992px) and (max-width: 1199px){}
@media screen and (min-width: 1200px){}
@media screen and (max-width: 1199px){}
@media screen and (max-width: 991px){}
@media screen and (max-width: 767px){}
@media screen and (max-width:420px){}
@media (min-width: 400px) and (max-width: 991px){}
@media screen and (max-width:399px){}
@media screen and (max-width:359px){
	.detect_num{max-width: 1.8rem;}
}

.first_tip{text-align: center;line-height: 65px;}
#i_know{margin: auto;}
.need_add_type_bg{display: none; position: fixed;top:0;left: 0;right: 0;bottom: 0;background: #333;opacity: .5; z-index: 1012;}
.need_add_type,.shebeiliebiao_note{display: none; position: fixed; left: 50%; top: 50%; margin: auto; width: 90%; padding: 0.3rem 0.4rem; background: #fff; border-radius: 0.4rem; z-index: 1013; box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.2); -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%);}
.need_add_type .title,.shebeiliebiao_note .title{color: #343434; font-size: 0.4rem; font-weight: 700;}
.need_add_type .content,.shebeiliebiao_note .content,.shebeiliebiao_note .content em{color: #868C92; font-size: 0.28rem; line-height: 0.6rem;padding: 20px 0;}
.shebeiliebiao_note .content em{font-weight: bold}
.need_add_type .btns .btns_btn, .shebeiliebiao_note .btns .btns_btn {float: left;line-height: 0.8rem;width: 50%;text-align: center}
.need_add_type .btns .btn_add,.shebeiliebiao_note .btns .btn_add {color: #fff; font-size: 0.3rem; height: 0.8rem; padding: 0 0.25rem; background: #16B347; border-radius: 0.4rem;width: 2rem;}
.need_add_type .btns .btn_cancle,.shebeiliebiao_note .btns .btn_cancle {color: #B8BCC1;font-size: 0.3rem;}

